<h1>Welcome, <%=@user.username%></h1>
<a href="/users"><input type="button" value="Back to Songs List"></a>
<a href="/songs/new"><input type="button" value="Create a New Song"></a>
<a href="/logout"><input type="button" value="Logout"></a>
<div class="songs_list_container">
<%@songs.each do |s|%>
    
    <div class="song_container" onclick="location.href='/songs/<%=s.id%>'">
    <%if s.learned %>
      <div id="song_card_heading"><h3 class="learn_status" style="color: greenyellow"><%=s.name%>: Learned</h3></div>  
    <%else%>
       <div id="song_card_heading"><h3 class="learn_status" style="color: salmon"><%=s.name%>: Still Learning</h3></div>
    <%end%>

    <p>Includes:
    <%if s.video != ""%>
        Video
    <%end%>

    <%if s.tabs != ""%>
        Tabs
    <%end%>

    <%if s.lyrics != ""%>
        Lyrics
    <%end%>
    </p>

    <%if s.notes %>
        <p>Notes: <%=s.notes%></p>
    <%else%>
        <p>Notes: There are no notes for this song yet.</p>
    <%end%>

<a href="/songs/<%=s.id%>/edit"><input type="button" value="Edit"></a>
<a href="/songs/<%=s.id%>"><input type="button" value="View"></a>
<a href="/songs/<%=s.id%>/delete"><input type="button" value="Delete"></a><br>
</div>
<%end%>
</div>